<!DOCTYPE html>
 <head>
  <link rel="stylesheet" href="/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%- bot.user.username %> | Home</title>
 </head>

 <body>
  <h1>Hello World</h1>
  <a href="https://cdn.discordapp.com/attachments/765032716268863498/790755265242333204/img_forest.jpg">Click here</a>
 </body>
</html>
