<!DOCTYPE html>
 <head>
  <link rel="stylesheet" href="/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%- bot.user.username %> | Home</title>
 </head>

 <body>
  <h1>Hello World</h1>
  <a href="/20201214_225255.png">Click here</a>
 </body>
</html>
