body {
 background-color:#FFFFFF !important;
 color:#FFFFFF !important;
}

.the-title {
  margin:20px;
  margin-top:-30px;
  text-align:center;
}

.simple-about {
  font-size:20px;
  font-family:'Montserrat', sans-serif;
  margin-bottom:20px;
}

.my-button {
  border:1px solid black;
  padding:10px;
  background-color:#E5E2E9;
  margin:5px;
  border-radius:40px;
  font-size:15px;
  text-decoration:none;
  color:black;
  transition:all 0.5s ease;
  box-shadow:1px 2px 3px black;
}	

.my-button:hover {
  border:1px solid white;
  text-decoration:none;
  color:#8A9A98;
  box-shadow:1px 2px 3px black;
}

section {
  height:102vh;
  width:100%;
  position:relative;
  overflow:hidden;
  background-color:#16161D;
}

section .effect {
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:100px;
  background: url("https://cdn.discordapp.com/attachments/784623203359653938/791119721436938291/wave.png");
  background-size:300px 100px;
}
