body {
 background-color:#16161D !important;
 color:#FFFFFF !important;
}

.the-title {
  margin:20px;
  text-align:center;
}

.simple-about {
  font-size:15px;
  font-family: 'Montserrat', sans-serif;
}
