body {
 background-color:#16161D !important;
 color:#FFFFFF !important;
}

.the-title {
  margin:20px;
  text-align:center;
}

.simple-about {
  font-size:15px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom:20px;
}

.my-button {
  border:1px solid white;
  padding:10px;
  border-radius:40px;
  font-size:15px;
  text-decoration:none;
  color:white;
  transition:all 1s ease;
  box-shadow:1px 1px 3px rgba(0,0,0,0.5);
}	

.my-button:hover {
  border:1px solid yellow;
  text-decoration:none;
  color:#94A2FF;
  box-shadow:1px 2px 3px black;
}
